<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>TenderHub - Dodaj przetarg</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include("header") %>
        <main>
            <br><h2>Dodaj przetarg</h2><br>
            <p>Przetarg dodano pomyślnie.</p>
        </main>
        <%- include("footer") %>
</body>

</html>