<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>TenderHub - Złóż ofertę -  <%= tender.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include("header") %>
        <main>
            <br><h2>Złóż ofertę w przetargu '<%= tender.title %>'</h2><br>
            <p>Złożono ofertę pomyślnie.</p>
        </main>
        <%- include("footer") %>
</body>

</html>