<!DOCTYPE html>
<html lang="pl">

<head>
  <title>TenderHub - Strona główna</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include("header") %>
    <main>
      <br><h2><%= error.status %></h2><br>
      <p><%= message %></p>
    </main>
    <%- include("footer") %>
</body>

</html>
