<header>
    <h1>TenderHub</h1>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/tenders">Lista przetargów</a></li>
            <li><a href="/tenders-completed">Lista zakończonych przetargów</a></li>
            <li><a href="/tenders-add">Dodaj przetarg</a></li>
        </ul>
    </nav>
</header>