<!DOCTYPE html>
<html lang="pl">

<head>
  <title>TenderHub - Strona główna</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include("header") %>
    <main>
      <br><h2>Strona główna</h2><br>
      <h3>Przeznaczenie systemu:</h3>
      <p>TenderHub to system służący do elektronicznej obsługi przetargów.</p>
      <p>Użytkownicy mogą ogłaszać przetargi, jak również brać udział w aktywnych zamówieniach.</p>
    </main>
    <%- include("footer") %>
</body>

</html>